<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Admin-首页</title>

    <!-- Bootstrap -->
    <!--<link href="" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">-->
    <link href="${APP_PATH}/static/main/assets/bootstrap/css/bootstrap.min.css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/assets/bootstrap-daterangepicker/daterangepicker.css}">
    <link rel="stylesheet" href="" th:href="@{/assets/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" href="" th:href="@{/assets/css/common.css}">
    <link rel="stylesheet" href="" th:href="@{/assets/css/main.css}">


    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="commons/bar::manager_nav"></div>
<div class="wrapper">
    <div th:replace="commons/bar::manager_aside"></div>

    <div class="main-container">
        <div class="padding">
            <ol class="breadcrumb">
                <li><a href="${APP_PATH}/tomain" th:href="@{/manager/main.html}">首页</a></li>

            </ol>
            <div class="box">
                <div class="heading">
                    <p class="title" style="font-size: 25px;font-weight: bolder;color: cornflowerblue">
                        欢迎用户&nbsp; [[${session.manager.managerName}]]&nbsp;登录系统
                    </p>

                </div>

                <div class="box-inner">
                    <div  class="col-md-6" style="margin-top: 30px;margin-bottom: 100px">
                        <table id="userinfo_table" class="table table-hover table-bordered table-striped" style="font-size: 15px;font-weight: bold">
                            <tr>
                                <td style="width: 30%">开发人员</td>
                                <td>徐昕海</td>
                            </tr>
                            <tr>
                                <td style="width: 30%">开发时间</td>
                                <td>2020.3.1</td>
                            </tr>
                            <tr>
                                <td style="width: 30%">开发工具</td>
                                <td>intellij idea </td>
                            </tr>
                            <tr>
                                <td style="width: 30%">系统环境</td>
                                <td>windows10</td>
                            </tr>
                            <tr>
                                <td style="width: 30%">java版本</td>
                                <td>jdk11</td>
                            </tr>

                            <tr>
                                <td style="width: 30%">数据库</td>
                                <td>mysql+navicat</td>
                            </tr>
                            <tr>
                                <td style="width: 30%">系统采用技术</td>
                                <td>bootstrap+jquery+springboot</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="commons/bar::footer"></div>
</div>

<div class="scroll-to-top"><i class="fa fa-chevron-up fa-lg"></i></div>

<script src="" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script src="" th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script src="" th:src="@{/assets/bootstrap-daterangepicker/moment.min.js}"></script>
<script src="" th:src="@{/assets/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script src="" th:src="@{/assets/js/main.js}"></script>
</body>
</html>