<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mywork.springboot.mapper.ReaderMapper">

    <resultMap id="ReaderResultMap" type="Reader">
        <id column="reader_id" jdbcType="INTEGER" property="readerId"/>
        <result column="reader_name" jdbcType="VARCHAR" property="readerName" />
        <result column="reader_phone" jdbcType="VARCHAR" property="readerPhone" />
        <result column="reader_email" jdbcType="VARCHAR" property="readerEmail" />

    </resultMap>

    <!--按条件查询所有reader-->
    <select id="selAllReader"  resultMap="ReaderResultMap">
        select
        reader_id,reader_name,reader_phone,reader_email
        from reader
        where status = 1
        <if test="readerId != '' and readerId != null">and reader_id = #{readerId}</if>
        <if test="readerName != '' and readerName != null">and reader_name = #{readerName}</if>
        <!--<if test="bookName != '' and bookName != null">and b.book_name like concat('%',#{bookName},'%')</if>-->
        <!--<if test="bookAuthor != '' and bookAuthor != null">and b.book_author like concat('%',#{bookAuthor},'%')</if>-->
        <!--<if test="bookPub != '' and bookPub != null">and b.book_pub like concat('%',#{bookPub},'%')</if>-->
        <!--<if test="bookstyleId != '' and bookstyleId != null">and bs.bookstyle_id = #{bookstyleId}</if>-->

    </select>



</mapper>